.articleDetail {
  width: calc(100% - 325px);
  margin-left: 325px;
  height: auto;
  background-color: #F5F6F8;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 50px;
}

.darkContent .articleDetail {
  background-color: #191A1E;
}

.articleContainer {
  width: 669px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articleTitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #191A1E;
}

.darkContent .articleTitle {
  color: #fff;
}

.articleInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articleDate,
.articleUser {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(25, 26, 30, 0.30);
}

.darkContent .articleDate,
.darkContent .articleUser {
  color: rgba(255, 255, 255, 0.50);
}

.articleUser {
  margin-top: 6px;
}

.articleContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 52px 0px;
}

.articleContent p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  margin-bottom: 1.125rem;
}

.articleContent h1 {
  font-size: 2rem;
}

.articleContent h2 {
  font-size: 1.75rem;
}

.articleContent h3{
  font-size: 1.5rem;  
}

.articleContent h4 {
  font-size: 1.25rem;
}

.articleContent h5 {
  font-size: 1rem;
}

.articleContent h5 {
  font-size: 0.875rem;
}

.darkContent .articleContent p,
.darkContent .articleContent h1,
.darkContent .articleContent h2,
.darkContent .articleContent h3,
.darkContent .articleContent h4,
.darkContent .articleContent h5,
.darkContent .articleContent h6{
  color: #fff;
}

.articleContent h1,
.articleContent h2,
.articleContent h3,
.articleContent h4,
.articleContent h5,
.articleContent h6{
  font-weight: 700;
  color: #000;
  margin-bottom: 1.125rem;
}

.contentImg,
.articleContent figure {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  margin-bottom: 1.125rem;
}

.contentImg img,
.articleContent img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.contentImg span,
.articleContent figure span {
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
  color: rgba(25, 26, 30, 0.80);
}

.darkContent .contentImg span {
  color: rgba(255, 255, 255, 0.80);
}

.articleContent pre {
  background-color: #fff;
}

.notFoundContent {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #191A1E;
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.darkContent .notFoundContent {
  color: #fff;
}

@media (max-width: 991px) {
  .articleDetail {
    background-color: #fff !important;
    margin-left: 0px;
    width: 100%;
    padding: 34.5px 16px;
  }

  .darkContent .articleDetail {
    background-color: #191A1E !important;
  }

  .articleInfo {
    flex-direction: initial;
    flex-wrap: wrap;
    align-items: center;
  }

  .articleDate,
  .articleUser {
    width: calc(50% - 10px);
    margin-top: 5px;
  }

  .articleDate {
    text-align: right;
    margin-right: 10px;
  }

  .articleUser {
    text-align: left;
    margin-left: 10px;
  }

  .articleContainer {
    width: 100%;
  }

  .articleTitle {
    font-size: 28px;
    line-height: 34px;
  }

  .articleContent p {
    font-size: 14px;
    line-height: 18px;
  }

  .notFoundContent {
    font-size: 18px;
    line-height: 24px;
  }

}