body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace,
    'Roboto',
    sans-serif;
}

.App {
  width: 100%;
  display: flex;
  justify-content: center;
}

header {
  width: 325px;
  height: 100%;
  display: flex !important;
  flex-direction: column;
  padding: 40px 40px 12px 40px;
  position: fixed;
  top: 0px;
  left: 0px;
}

.menuTop {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menuTopText {
  margin: 12px 0px 40px 0px;
  padding-bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(25, 26, 30, 0.30);
}

.darkContent .menuTopText {
  border-color: rgba(229, 229, 229, 0.30);
}

.userName {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #191A1E;
  margin-bottom: 0px;
}

.userTitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #191A1E;
}

.darkContent .userName,
.darkContent .userTitle {
  color: #fff;
}

.menuBottomContents {
  position: absolute;
  bottom: 12px;
  left: 0px;
  width: 100%;
}

.menuBottomContents .btn {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  padding: 8.5px 18px;
}

.menuBottomContents .btn-outline-dark {
  color: #191A1E;
  border-color: #000000;
}

.menuBottomContents .btn-outline-dark:hover {
  color: #fff;
  background-color: #191A1E;
  border-color: #000000;
}

.copyright {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #000;
  margin-top: 24px;
}

.darkContent .menuBottomContents .btn-outline-dark {
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.darkContent .menuBottomContents .btn-outline-dark:hover {
  background-color: #fff;
  border-color: #fff;
  color: #191A1E;
}

.darkContent .copyright {
  color: #fff;
}

.menuLinks {
  height: 400px;
  overflow: hidden;
  overflow-y: auto;
  flex-wrap: inherit !important;
}

.menuLinks .nav-link {
  padding: 0px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 12px;
  color: rgba(25, 26, 30, 0.30);
}

.menuLinks .nav-link.active {
  color: #191A1E;
}

.darkContent .menuLinks .nav-link {
  color: rgba(229, 229, 229, 0.30);
}

.darkContent .menuLinks .nav-link.active {
  color: #FFFFFF;
}

.articles {
  width: calc(100% - 325px);
  margin-left: 325px;
  display: flex;
  flex-direction: column;
  background-color: #F5F6F8;
  position: relative;
  min-height: 100vh;
}

.darkContent .articles {
  background-color: #191A1E;
}

.articlesContent {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 40px;
  position: relative;
  content-visibility: auto;
}

.acTitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #191A1E;
}

.darkContent .acTitle {
  color: #FFFFFF;
}

.articlesList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  height: auto;
}

.articleDetail {
  width: calc(100% - 325px);
  margin-left: 325px;
  height: auto;
  background-color: #F5F6F8;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 50px;
  position: relative;
}

.darkContent .articleDetail {
  background-color: #191A1E;
}

.articleContainer {
  width: 669px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articleTitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #191A1E;
}

.darkContent .articleTitle {
  color: #fff;
}

.articleInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articleDate,
.articleUser,
.articleReadTime {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(25, 26, 30, 0.30);
}

.articleReadTime {
  margin-top: 0.5rem;
}

.darkContent .articleDate,
.darkContent .articleUser,
.darkContent .articleReadTime {
  color: rgba(255, 255, 255, 0.50);
}

.articleUser {
  margin-top: 6px;
}

.articleContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 52px 0px;
}

.articleContent p,
.articleContent ol li,
.articleContent ul li {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}

.articleContent h1 {
  font-size: 2rem;
}

.articleContent h2 {
  font-size: 1.75rem;
}

.articleContent h3 {
  font-size: 1.5rem;
}

.articleContent h4 {
  font-size: 1.25rem;
}

.articleContent h5 {
  font-size: 1rem;
}

.articleContent h5 {
  font-size: 0.875rem;
}

.darkContent .articleContent p,
.darkContent .articleContent h1,
.darkContent .articleContent h2,
.darkContent .articleContent h3,
.darkContent .articleContent h4,
.darkContent .articleContent h5,
.darkContent .articleContent h6,
.darkContent .articleContent ol li,
.darkContent .articleContent ul li {
  color: #fff;
}

.articleContent h1,
.articleContent h2,
.articleContent h3,
.articleContent h4,
.articleContent h5,
.articleContent h6 {
  font-weight: 700;
  color: #000;
  margin-bottom: 1.125rem;
}

.contentImg,
.articleContent figure {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.125rem;
}

.contentImg img,
.articleContent img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.contentImg span,
.articleContent figure figcaption,
.articleContent figure span {
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
  color: rgba(25, 26, 30, 0.80);
}

.darkContent .contentImg span,
.darkContent .articleContent figure figcaption {
  color: rgba(255, 255, 255, 0.80);
}

.articleContent pre {
  background-color: #fff;
}

.notFoundContent {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #191A1E;
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.darkContent .notFoundContent {
  color: #fff;
}

.darkContent .articleContent ul li::marker,
.darkContent .articleContent ol li::marker,
.darkContent .articleContent ul li strong,
.darkContent .articleContent ol li strong {
  color: #fff;
}

blockquote {
  font-size: 1.4em;
  width: 100%;
  font-style: italic;
  color: #555555;
  padding: 1.2em 30px 1.2em 75px;
  border-left: 8px solid #000;
  line-height: 1.6;
  position: relative;
  background: #EDEDED;
}

.darkContent blockquote p {
  margin-bottom: 0 !important;
}

.darkContent blockquote,
.darkContent blockquote p {
  color: #000 !important
}

blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: #000;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}


blockquote::after {
  content: '';
}

blockquote span {
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
}

.articleCard {
  margin-bottom: 30px;
}

.articleCard:nth-child(2n+1) {
  padding-left: 0px !important;
}

.articleCard:nth-child(2n+2) {
  padding-right: 0px !important;
}

.articleCardContainer {
  width: 100%;
  height: auto;
  display: flex;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  position: relative;
}

.darkContent .articleCardContainer {
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.70);
}

.articleCardContainer::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.70);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  z-index: 1;
}

.articleCardFigure {
  width: 100%;
  height: 200px;
  margin-bottom: 0;
}

.articleCardFigure img {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  object-fit: cover;
}

.articleCardOthers {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 31px 46px;
  z-index: 2;
}

.articleCardTitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.articleCardText {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  margin-top: 12px;
  margin-bottom: 26px;
  min-height: 42px;
  max-height: 42px;
  overflow: hidden;
}

.readMore {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #000;
  background-color: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  width: 117px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.readMore:hover {
  color: #000;
  text-decoration: none;
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  min-height: 40px;
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
  background-color: #FF6600
}

.resp-sharing-button--hackernews:hover,
.resp-sharing-button--hackernews:focus {
  background-color: #FB6200
}

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--linkedin {
  background-color: #0077b5;
  border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: #046293;
  border-color: #046293;
}

.resp-sharing-button--whatsapp {
  background-color: #25D366;
  border-color: #25D366;
}

.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
  background-color: #1DA851;
  border-color: #1DA851;
}

.resp-sharing-button--telegram {
  background-color: #54A9EB;
}

.resp-sharing-button--telegram:hover {
  background-color: #4B97D1;
}

.siteModeContent {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 40px;
  right: 20px;
  background-color: #fff;
}

.darkContent .siteModeContent {
  border: 1px solid #FFFFFF;
  background-color: #191A1E;
}

.siteMode {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center 0px;
  cursor: pointer;
}

.darkContent .siteMode {
  background-position: center -32px;
}

.notfound {
  background-color: #fff;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.darkContent .notfound {
  background-color: #000;
}

.notfound__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.notfound__text {
  font-weight: 400;
  font-size: 2rem;
  color: #002D6F;
}

.darkContent .notfound__text {
  color: #fff;
}

.notfound__text b {
  font-weight: 600;
}

.notfound__btn {
  margin-top: 50px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  max-width: 230px;
  height: 60px;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #002D6F !important;
  background-color: rgba(0, 44, 111, 0.14) !important;
  border-color: rgba(0, 44, 111, 0.14) !important;
  margin-bottom: 0 !important;
}

.darkContent .notfound__btn {
  background-color: #EEF5FF !important;
  border-color: #EEF5FF !important;
}

.notfound__figure {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0 !important;
}

.notfound__img {
  width: 100%;
  height: auto;
  max-width: 709px;
}

.content-loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);
}

.darkContent .content-loader {
  background: rgba(0, 0, 0, 0.8);
}

@media (max-width: 767px) {

  .articleCard,
  .articleCard:nth-child(2n+1) {
    padding: 0px !important;
  }

  .notfound__col {
    align-items: center;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }

  .notfound .row {
    flex-direction: column-reverse;
  }

  .notfound__img {
    max-width: 275px;
  }

  .notfound__text {
    font-size: 1.5rem;
  }

  .notfound__btn {
    height: 50px;
    font-size: 1rem;
  }

}

@media (max-width: 991px) {
  .App {
    flex-direction: column;
  }

  header {
    padding: 12px 16px;
    width: 100%;
    height: auto;
    position: relative;
    left: inherit;
    top: inherit;
    flex-direction: row;
    align-items: center;
  }

  .menuNav {
    position: fixed;
    top: 0px;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #191A1E;
    -webkit-transition: all ease-in 0.2s;
    -moz-transition: all ease-in 0.2s;
    transition: all ease-in 0.2s;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
  }

  .darkContent .menuNav {
    background-color: #fff;
  }

  .menuNav.show {
    right: 0px;
    opacity: 1;
    visibility: visible;
  }

  .btnMenuToggle {
    border: none;
    padding: 0px;
    width: 32px;
    height: 32px;
    background: transparent;
  }

  .darkContent .btnMenuToggle svg path {
    stroke: white;
  }

  .closeMenu {
    width: 48px;
    height: 48px;
    border: none;
    padding: 0px;
    background: transparent;
    position: absolute;
    right: 16px;
    top: 20px;
  }

  .darkContent .closeMenu svg path {
    fill: black;
  }

  .menuTop {
    width: calc(100% - 32px);
    flex-direction: row;
  }

  .menuTopText {
    padding-bottom: 0px;
    margin: 0px 0px 0px 12px;
    width: calc(100% - 76px);
    height: 64px;
    justify-content: center;
    border: none;
  }

  .menuBottomContents .btn-outline-dark {
    color: #FFFFFF;
    border-color: #FFFFFF;
  }

  .menuBottomContents .btn-outline-dark:hover {
    background-color: #fff;
    border-color: #fff;
  }

  .copyright {
    color: #fff;
  }

  .darkContent .menuBottomContents .btn-outline-dark {
    color: #191A1E;
    border-color: #000000;
  }

  .darkContent .menuBottomContents .btn-outline-dark:hover {
    color: #fff;
    background-color: #191A1E;
    border-color: #000000;
  }

  .darkContent .copyright {
    color: #000;
  }

  .menuLinks {
    height: auto;
    margin: 0 auto;
    display: table;
    margin-top: 120px;
  }

  .menuLinks .nav-link {
    color: rgba(255, 255, 255, 0.30);
    text-align: center;
    font-size: 36px;
    line-height: 42px;
  }

  .menuLinks .nav-link.active {
    color: #fff;
  }

  .darkContent .menuLinks .nav-link {
    color: rgba(25, 26, 30, 0.30);
  }

  .darkContent .menuLinks .nav-link.active {
    color: #191A1E;
  }

  .articles {
    width: 100%;
    margin-left: 0;
  }

  .articlesContent {
    background-color: #fff !important;
    padding: 34.5px;
  }

  .darkContent .articlesContent {
    background-color: #191A1E !important;
  }

  .acTitle {
    font-size: 28px;
    line-height: 34px;
    width: 100%;
    text-align: center;
  }

  .articlesList {
    margin-top: 30px;
  }

  .articleDetail {
    background-color: #fff !important;
    margin-left: 0px;
    width: 100%;
    padding: 34.5px 16px;
  }

  .darkContent .articleDetail {
    background-color: #191A1E !important;
  }

  .articleInfo {
    flex-direction: initial;
    flex-wrap: wrap;
    align-items: center;
  }

  .articleDate,
  .articleUser {
    width: calc(50% - 10px);
    margin-top: 5px;
  }

  .articleDate {
    text-align: right;
    margin-right: 10px;
  }

  .articleUser {
    text-align: left;
    margin-left: 10px;
  }

  .articleContainer {
    width: 100%;
  }

  .articleTitle {
    font-size: 28px;
    line-height: 34px;
  }

  .articleContent p {
    font-size: 14px;
    line-height: 18px;
  }

  .notFoundContent {
    font-size: 18px;
    line-height: 24px;
  }

  .articleCard {
    margin-bottom: 20px;
  }

  .articleCardTitle {
    font-size: 18px;
    line-height: 22px;
  }

  .articleCardOthers {
    padding: 31px 21px;
  }

  .siteModeContent {
    left: 16px;
    right: initial;
    top: 20px;
  }

  .darkContent .siteModeContent {
    border: 1px solid #1E1919;
    background-color: #fff;
  }
}


@media (min-width: 1920px) {
  .articleCardFigure {
    height: 250px;
  }
}