.menuTop {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menuTopText {
  margin: 12px 0px 40px 0px;
  padding-bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(25, 26, 30, 0.30);
}

.darkContent .menuTopText {
  border-color: rgba(229, 229, 229, 0.30);
}

.userName {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #191A1E;
  margin-bottom: 0px;
}

.userTitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #191A1E;
}

.darkContent .userName,
.darkContent .userTitle {
  color: #fff;
}


@media (max-width: 991px) {

  .menuTop {
    width: calc(100% - 32px);
    flex-direction: row;
  }

  .menuTopText {
    padding-bottom: 0px;
    margin: 0px 0px 0px 12px;
    width: calc(100% - 76px);
    height: 64px;
    justify-content: center;
    border: none;
  }
}